.splide {
    width: 100%;
}
.splide_container {
  padding-bottom: 2.5rem;
   
}
.splide__arrow  {
  font-size: 1.6rem;
  background: #ffffff !important; 
}
.splide__pagination {
 transform: translateY(50px);
 
}
