.game { 
    min-height: 30vh;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    img {
        width: 100%;
        min-height: 40vh;
        object-fit: cover;
    }
    h3 {
        padding: 1.5rem 0rem;
    }
    h4 {
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 200;
    }
}