.nav {
    padding: 3rem 5rem;
    text-align: center;
    //background-image: linear-gradient(0deg, #0f0f28 50px, rgba(31, 31, 31, 0.3) 50%), url('https://images5.alphacoders.com/540/540654.jpg');
    min-height: 45vh;
    background-attachment: fixed;
    //background-image: linear-gradient(0deg, #0f0f28 50px, rgba(31, 31, 31, 0.3) 50%), url('https://cdn.wallpapersafari.com/43/55/IvnKSm.jpg');
    //background-image: linear-gradient(0deg, #0f0f28 50px, rgba(31, 31, 31, 0.3) 50%), url('https://wallpapers.com/images/hd/lost-ark-game-pfgruf3t8ttef9dv.jpg');
    background-image: linear-gradient(0deg, #0f0f28 50px, rgba(31, 31, 31, 0.3) 50%), url('../img/forspoken_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -250px;
    input {
        width: 100%;
        font-size: 1.5rem;
        padding: 0.5rem;
        padding-left: 2rem;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);  
        outline-color: white;
        font-weight: 400;
    }
    button {
        position: absolute;
        right: 0px;
        font-size: 1.5rem;
        border: none;
        border-radius: 25px;
        padding: 0.5rem 2rem;
        cursor: pointer;
        background: rgb(2, 217, 217);
        color: white;
        z-index: 2;
        transition: all 0.4s ease-in-out;
        &:hover {
            background: rgb(4, 189, 189);
        }
    }
}
.logo {
    display: flex;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    img {
        width: 2.5rem;
        height: 2.5rem;
    }
    h2 {
        padding-left: 0.5rem;
        padding-top: 0.4rem;
        color: white;
    }
}
.search {
   position: relative;
   width: 30%;
   margin-left: 35%;
   margin-top: 1rem;
   
}
