@media (max-width: 1800px) {
  .game_list {
    h1 {
      padding: 3rem 0rem;
    }
     
  }
}
@media (max-width: 1450px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .search {
      width: 55%;
      margin-left: 0;
      
    }
    .games {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
   
}
@media (max-width: 1150px) {
    .search {
        width: 65%;  
      }
    .detail {
        width: 80%;
    }
    .platforms {
        margin: 0;
        transform: translate(-10px);
        img {
            flex-basis: 15%;
                margin-left: 1rem;
        }
    }
    .stats {
        flex-wrap: wrap;
        padding: 3rem 2rem 0 2rem ;
    }
    .info {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-top: 1rem;
        align-items: center;
        justify-content: left;
        h3 {
            text-align: left;
            flex-basis: 25%;
        }
    }  
  
}
@media (max-width: 875px) {
  .home {
    justify-content: center;
  }
  .genre_container_home {
    flex-basis: 100%;
    text-align: center;
    padding-top: 2rem;
    margin: 0 1rem;
    h2 {
      text-align: center;
    }
  }
  .platforms_container{
    width: 100%;
    text-align: center;
  }
  .game_list {
    flex-basis: 100%;
    padding: 0rem 2rem;
  }
  .platform_buttons {
    button {
      align-items: center;
      background-color: #fff;
      border: 1px solid #171717;
      margin-bottom: 0.5rem;
      color: #000;
      cursor: pointer;
      display: inline-flex;
      fill: #000;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 600;
      height: 35px;
      justify-content: center;
      letter-spacing: -0.8px;
      line-height: 24px;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-right: 0.3rem;
    }
  }
}
@media (max-width: 860px) {
    .search {
        width: 85%;  
      }
      .nav input {
        font-weight: 500;
     }
     .description {
        margin: 4rem 3rem;
     }
     .gallery {
        padding: 0rem 3rem 3rem 3rem;
     }
     .platforms img {
        flex-basis: 10%;
        flex-wrap: wrap;
        margin-left: 1rem;
    }
    .media img {
        max-width: 100%;
        min-height: 45vh;
        object-fit: cover;
    }
    .genre_container {
      margin-top: 1rem;
    }
    .game_list h1 {
      padding: 2rem 0rem;
    }
}
@media (max-width: 725px) {
  .home {
    justify-content: center;
  }
  .genre_container_home {
    flex-basis: 100%;
    text-align: center;
    padding-top: 2rem;
    margin: 0 1rem;
    h2 {
      text-align: center;
    }
  }
  .platforms_container{
    width: 100%;
    text-align: center;
  }
  .game_list {
    flex-basis: 100%;
    padding: 0rem 2rem;
  }
  .platform_buttons {
    button {
      align-items: center;
      background-color: #fff;
      border: 1px solid #171717;
      margin-bottom: 0.5rem;
      color: #000;
      cursor: pointer;
      display: inline-flex;
      fill: #000;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 600;
      height: 35px;
      justify-content: center;
      letter-spacing: -0.8px;
      line-height: 24px;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-right: 0.3rem;
    }
  }
}
@media (max-width: 700px) {
    .search {
        width: 95%;  
      }
      .nav {
        padding: 3rem;
      }
      .game_list {
        padding: 0rem 3rem;
      }
      .game h3 {
        padding: 1.5rem 0.5rem;
      }
    
      .description {
        text-align: justify;
      }  
      .stats {
        padding: 2rem 1.5rem 0 1.5rem;
      }
      
}
@media (max-width: 595px) {
    .games {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .game_list {
        padding: 0rem 1rem;
      }
      .search {
        width: 95%;  
      }
      .nav {
        padding: 3rem 1rem;
        input {
            font-size: 1.1rem;
        }
        button {
            font-size: 1.1rem;
        }
      }
      .platforms {
        flex-wrap: wrap;
        img {
            width: 50px;
        }
      }
      .description {
        margin: 2rem 2rem;
        p {
          font-size: 1rem;
        }
      }  
        .rating_container{
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
            p {
              font-size: 1.2rem; 
            }
            
        } 
      .stats h3 {
      font-size: 1.5rem;
      }
      .gallery {
      padding: 0rem 1.5rem 1.5rem 1.5rem;
      }  
      .media img {
       
        min-height: 51vh;
        
    }
}
@media (max-width: 506px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 380px) {
    .game_list {
        padding: 0rem 0.5rem;
        h1 {
            font-size: 2.5rem;
            padding: 4rem 0rem 2rem 0rem;
        }
      }
      .gallery {
        padding: 0rem 0.7rem 0.7rem 0.7rem;
      }
    
}