* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
html::-webkit-scrollbar-track {
  background: white;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  font-weight: lighter;
  color: #333;
}

h3 {
  font-size: 1.3rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  line-height: 200%;
  color: #696969;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
}

input {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.game_list {
  padding: 0rem 5rem;
}
.game_list h1 {
  padding: 5rem 0rem;
}

.games {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  margin-bottom: 2rem;
}

.not_found {
  text-align: center;
  color: orange;
}

.game {
  min-height: 30vh;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.game img {
  width: 100%;
  min-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.game h3 {
  padding: 1.5rem 0rem;
}
.game h4 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.card_shadow {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.card_shadow::-webkit-scrollbar {
  width: 0.5rem;
}
.card_shadow::-webkit-scrollbar-thumb {
  background-color: #ff7676;
}
.card_shadow::-webkit-scrollbar-track {
  background-color: white;
}

.detail {
  width: 75%;
  position: relative;
  border-radius: 1rem;
  background: white;
  position: absolute;
  left: 12.5%;
  color: black;
}
.detail img {
  width: 100%;
}
.detail h3 {
  font-size: 1.7rem;
}

.stats {
  display: flex;
  padding: 3rem 3rem;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.info {
  text-align: center;
}
.info h3 {
  color: white;
}

.platforms {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.8rem;
  margin-right: 0.5rem;
}
.platforms img {
  margin-left: 1.5rem;
  max-height: 4.5rem;
}

.media img {
  width: 100%;
  z-index: 1;
}

.description {
  margin: 4rem 5rem 4rem 5rem;
}

.rating img {
  width: 1.8rem;
  height: 1.8rem;
  display: inline;
}
.rating h4 {
  font-weight: lighter;
}
.rating h3 {
  color: white;
}

.rating_container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.rating_container p {
  margin-left: 0.6rem;
  font-size: 1.4rem;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  padding: 0rem 5rem 3rem 5rem;
}

.genre_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.genre {
  display: inline;
  margin-right: 0.8rem;
  border: 2px solid white;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.showMoreBtn {
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  background: #ff7676;
  color: white;
}

.nav {
  padding: 3rem 5rem;
  text-align: center;
  background-image: linear-gradient(0deg, #0f0f28 50px, rgba(31, 31, 31, 0.3) 50%), url("https://images5.alphacoders.com/540/540654.jpg");
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center -250px;
}
.nav input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  outline-color: white;
  font-weight: 400;
}
.nav button {
  position: absolute;
  right: 0px;
  font-size: 1.5rem;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background: #ff7676;
  color: white;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.nav button:hover {
  background: #f85f5f;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}
.logo img {
  width: 2.5rem;
  height: 2.5rem;
}
.logo h2 {
  padding-left: 0.5rem;
  padding-top: 0.4rem;
  color: white;
}

.search {
  position: relative;
  width: 30%;
  margin-left: 35%;
  margin-top: 1rem;
}

@media (max-width: 1450px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .search {
    width: 55%;
    margin-left: 0;
  }
  .games {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media (max-width: 1150px) {
  .search {
    width: 65%;
  }
  .detail {
    width: 80%;
  }
  .platforms {
    margin: 0;
    transform: translate(-10px);
  }
  .platforms img {
    flex-basis: 15%;
    margin-left: 1rem;
  }
  .stats {
    flex-wrap: wrap;
    padding: 3rem 2rem 0 2rem;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 1rem;
    align-items: center;
    justify-content: left;
  }
  .info h3 {
    text-align: left;
    flex-basis: 25%;
  }
}
@media (max-width: 860px) {
  .search {
    width: 85%;
  }
  .nav input {
    font-weight: 500;
  }
  .description {
    margin: 4rem 3rem;
  }
  .gallery {
    padding: 0rem 3rem 3rem 3rem;
  }
  .platforms img {
    flex-basis: 10%;
    flex-wrap: wrap;
    margin-left: 1rem;
  }
  .media img {
    max-width: 100%;
    min-height: 45vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .genre_container {
    margin-top: 1rem;
  }
  .game_list h1 {
    padding: 2rem 0rem;
  }
}
@media (max-width: 700px) {
  .search {
    width: 95%;
  }
  .nav {
    padding: 3rem;
  }
  .game_list {
    padding: 0rem 3rem;
  }
  .game h3 {
    padding: 1.5rem 0.5rem;
  }
  .description {
    text-align: justify;
  }
  .stats {
    padding: 2rem 1.5rem 0 1.5rem;
  }
}
@media (max-width: 595px) {
  .games {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .game_list {
    padding: 0rem 1rem;
  }
  .search {
    width: 95%;
  }
  .nav {
    padding: 3rem 1rem;
  }
  .nav input {
    font-size: 1.1rem;
  }
  .nav button {
    font-size: 1.1rem;
  }
  .platforms {
    flex-wrap: wrap;
  }
  .platforms img {
    width: 50px;
  }
  .description {
    margin: 2rem 2rem;
  }
  .description p {
    font-size: 1rem;
  }
  .rating_container img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .rating_container p {
    font-size: 1.2rem;
  }
  .stats h3 {
    font-size: 1.5rem;
  }
  .gallery {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
  .media img {
    min-height: 51vh;
  }
}
@media (max-width: 506px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 380px) {
  .game_list {
    padding: 0rem 0.5rem;
  }
  .game_list h1 {
    font-size: 2.5rem;
    padding: 4rem 0rem 2rem 0rem;
  }
  .gallery {
    padding: 0rem 0.7rem 0.7rem 0.7rem;
  }
}/*# sourceMappingURL=app.css.map */